@model IEnumerable<Qlbaihat.Models.QlDongNhac>

@{
    ViewBag.Title = "DongNhac";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách dòng nhạc</h2>

<p>
    @Html.ActionLink("Thêm", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdDN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenDongNhac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GhiChu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdDN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenDongNhac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GhiChu)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Xóa", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
